* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    margin: 47px 0 50px 42px;
}

a {
    text-decoration: none;
}

.link-menu {
    margin-right: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    text-align: center;
    letter-spacing: 0.875px;

    color: #17233D;

    transition: all 0.2s;
}

.link-menu:hover {
    color: #6FBF44;
}

.button-menu {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;

    width: 124px;
    height: 51px;

    cursor: pointer;
    transition: all 0.2s;
}

.button-menu:hover {
    background: #85e252;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-log {
    width: 595px;
    height: 500px;
    margin-right: 84px;
}

h1 {
    margin-bottom: 47px;

    font-weight: 700;
    font-size: 62px;
    line-height: 82px;

    letter-spacing: 0.596154px;

    color: #161A49;
}

p {
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;

    letter-spacing: 0.5px;

    color: #4B505A;
}

.button-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: 1px;

    color: #6FBF44;
    transition: all 0.2s;
}

.button-main:hover {
    color: rgb(62, 109, 36);
}